tensorflow==2.12.0
pandas
dvc
mlflow>=2.8.0
notebook
numpy
matplotlib
seaborn
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
scipy
Flask
Flask-Cors
gdown # reading google drive files
-e . # for installing the package in editable mode, allowing for easy development and testing
flask
flask-cors
numpy
pillow
gunicorn